:root,
input {
	font-family: sans-serif;
}

body {
	max-width: 30em;
	margin: 0 auto;
}

h1 {
	margin: 0 auto;
	width: max-content;
}

input {
	appearance: none;
	border: none;
	background: none;
}

input[type="text"] {
	width: 100%;
	box-sizing: border-box;
}

input[type="submit"] {
	cursor: pointer;
}

.todo {
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: stretch;
}

.todo form {
	display: flex;
}

.remove {
	opacity: 0;
}

.todo:focus-within .remove,
.todo:hover .remove {
	opacity: 1;
}
