@view-transition {
	navigation: auto;
}

:root {
	--background-color: #eee;
	--text-color: #000;
	--main-background-color: #fff;
	--placeholder-color: #777;
	background-color: var(--background-color);
	color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #333;
		--text-color: #fff;
		--main-background-color: #000;
	}
}

:root,
input {
	font-family: sans-serif;
	color: var(--text-color);
}

body {
	width: 30em;
	max-width: 100%;
	margin: 0 auto;
}

h1 {
	margin: 0 auto 0.5lh;
	width: max-content;
	font-size: 5em;
	font-weight: normal;
}

input {
	appearance: none;
	border: none;
	background: none;
	flex-grow: 1;
	font-size: 1em;
	padding: 0 0.5em;
}

input[type="submit"] {
	cursor: pointer;
}

main {
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: stretch;
	font-size: 1.5em;
	grid-auto-rows: 2lh;
}

.todo {
	view-transition-class: todo;
}

::view-transition-new(.todo):only-child {
	animation-name: vertical-expand;
}

::view-transition-old(.todo):only-child {
	animation-name: vertical-expand;
	animation-direction: reverse;
}

@keyframes vertical-expand {
	from {
		clip-path: inset(0 0 100%);
	}

	to {
		clip-path: inset(0);
	}
}

.todo form {
	display: flex;
	align-items: stretch;
	border-top: 1px solid var(--background-color);
}

.newTodo,
.todo {
	background-color: var(--main-background-color);
	grid-column: 1 / 4;
	display: grid;
	grid-template-columns: subgrid;
}

.newTodo input[type="text"] {
	grid-column-start: 2;
}

.newTodo input[type="text"]::placeholder {
	font-style: italic;
	color: var(--placeholder-color);
	width: min-content;
	view-transition-name: newTodo-placeholder;
}

@media (hover: hover) {
	.remove {
		opacity: 0;
	}
}

.todo:focus-within .remove,
.todo:hover .remove {
	opacity: 1;
}

.todo.isCompleted input[type="text"] {
	text-decoration: line-through;
}
