:root {
	font-family: sans-serif;
}

body {
	max-width: 30em;
	margin: 0 auto;
}

h1 {
	margin: 0 auto;
	width: max-content;
}

input[type="text"] {
	width: 100%;
	box-sizing: border-box;
}

.todo {
	display: grid;
	grid-template-columns: auto 1fr auto;
}
